.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-bottom: 24px;
    box-sizing: border-box;
    padding: 10px 11px 10px 4px;
    border-radius: 7px;
    border: 1px solid transparent;
}

.container_selected {
    border: 1px solid #B7B7B7;
}

.wrapper {
    display: flex;
    align-items: center
}

.cardIcon {
    width: 42px;
    height: 24px;
    background: #C4C4C4;
    margin-right: 19px;
    margin-top: 5px;
}

.cardInfo__name {
    font-size: 18px;
    line-height: 22px;
}

.cardInfo__number {
    font-size: 11px;
    line-height: 14px;
    color: #767676;
}

.balance {
   color: #7615F9;
   font-size: 18px;
   font-weight: 800;
}