.app {
  min-height: -webkit-fill-available;
  height: 100vh;
  background-color: #e3eaf6;
  display: flex;
  flex-direction: column;
}


.content {
  height: 100%;
}

.pages {
  flex: 1;
  display: flex;
  
  overflow-y: scroll;
}

